@import '~office-ui-fabric-react/dist/sass/References.scss';

.addressTracker {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.pivot {
  margin: 12px 0;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;

  & > * {
    margin: 0 8px;
  }
}

.detailItem {
  margin: 8px 0;
  font-size: 16px;
}

.pageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  background: "[theme:themeDarker, default: rgb(68,68,68)]";
  color: white;
}

.activePage {
  background: "[theme:themeLighter, default: rgb(0,0,0)]";
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}